table {
    padding: 0; 
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
}

thead, tbody {
    padding: 20px;
}
    
tr {
    background-color: #1b1d23;
    margin: 0;
    padding: 0; 
}

tr th {
    font-weight: bold;
    border: 1px solid #2b2d31;
    text-align: left;
    margin: 0;
    padding: 10px 15px; 
}

tr td {
    border: 1px solid #2b2d31;
    text-align: left;
    margin: 0;
    padding: 10px 15px; 
}

tr th :first-child, tr td :first-child {
    margin-top: 0; 
}

tr th :last-child, tr td :last-child {
    margin-bottom: 0; 
}

iframe {
    width: 48rem;
    height: 400px;
    margin: 3rem 0;
}